* {
  /* font-weight: bold; */
}

/* Tag Name */
body {
  background-color: #0f141e;
}

/* Class */
.card {
  padding: 10px;
  background-color: #fff;
  margin-bottom: 10px;
}

.card p {
  font-size: 14px;
}

.html {
  background: #e55f28;
  color: white;
}

.css {
  background: #2549d9;
  color: white;
}

/* Id */
#header {
  background: #ddd;
  padding: 10px;
}

#header, .html, .css {
  margin-bottom: 10px;
}