@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,900&display=swap');

body {
  /* font-family: Georgia, Geneva, 'Times New Roman', Times, serif; */
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  line-height: 1.6em;
  font-weight: normal;
  /* font: normal 20px 'Roboto', sans-serif; */
  /* text-decoration: line-through; */
  /* font-style: italic; */
  /* letter-spacing: 2px; */
  /* word-spacing: 20px; */

}
 
.css p {
  font-family: Verdana;
  font-size: 20px;
  font-weight: bold;
}