@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,900&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: normal;
  background: #f1f1f1;
  color: #0f141e;
}

.container {
  max-width: 750px;
  margin: auto;
  padding-top: 30px;
}

.avatar {
  width: 200px;
  border-radius: 28px;
  box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
}

.info {
  margin-bottom: 20px;
}

.info-text p {
  font-style: italic;
  font-weight: bold;
  color: #86898f;
  margin: 0;
}

.info-text h4 {
  margin-bottom: 10px;
}

.table {
  border: 2px solid black;
  border-radius: 5px;
}

.table th,
td {
  border: 2px solid purple;
  border-radius: 5px;
  padding: 15px 20px;
}

.card {
  border-radius: 20px;
  padding: 25px;
  margin-bottom: 20px;
}

.card h2 {
  margin-bottom: 10px;
}

.bg-yellow {
  background: #fff9dc;
}

.bg-red {
  background: #ffe5e5;
}

.bg-green {
  background: #e5ffe7;
}

a {
  color: #000;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a:active {
  color: blue;
}
a:visited {
  color: grey;
}

.btn {
  background: #111;
  padding: 15px 20px;
  color: #fff;
  border: 5px solid rgb(175, 172, 172);
  font-family: inherit;
  cursor: pointer;
}
.btn:hover {
  opacity: 0.8;
}
