@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,900&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: normal;
  background: #f1f1f1;
  color: #0f141e;
}

.info-text p {
  font-style: italic;
  font-weight: bold;
  color: #86898f;
}

.table {
  border: 2px solid black;
  border-radius: 5px;
}

.table th,
td {
  border: 2px solid purple;
  border-radius: 5px;
  padding: 5px;
}

.card {
  border-radius: 20px;
}

.bg-yellow {
  background: #fff9dc;
}

.bg-red {
  background: #ffe5e5;
}

.bg-green {
  background: #e5ffe7;
}
